
body{
    display: table;
    /*background: url("../img/geometry.png") repeat-x;*/
    font-family: 'Lato', sans-serif;
}

.m-container{
    display: table-cell;
    position: absolute;
    vertical-align: middle;
    height:600px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.main-container{

    box-shadow: 0px 5px 20px #aaa;
    -moz-box-shadow: 0px 5px 20px #aaa;
    -webkit-box-shadow: 0px 5px 20px #aaa;
    -o-box-shadow: 0px 5px 20px #aaa;
    text-align: center;
    padding: 25px 45px 45px;
    height:480px;
    background: #ffffff;
}
.logo{
    height: 70px;
    width: 70px;
    margin-bottom: 5px;
}

.lead{
    padding: 0 30px;
    font-size: 18px;
}

.tweet-input{
    margin: 55px 0 40px;
}

.tweet-url{
    line-height: 40px;
}

.noti{
    margin-top: 12px;
}

.mobile-div, .plugin-div{
    margin-top: 20px;
    text-align: center;
}
.mobile-div a, .plugin-div a{
    text-decoration:none;
}

.mobile, .plugin{
    height: 50px;
    width: 50px;
    color: #8d8d8d;
    margin-bottom: 5px;
    border-radius: 25px;
}

.mobile-div p, .plugin-div p{
    font-size: 15px;
    color: #8d8d8d;
}

.plugin-div{
    margin-top: 27px;
}

.footer{
    /*position: relative;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 10px;*/
    margin: 0px auto 10px;
    font-size: 12px;
    text-align: center;
    color: #8d8d8d;
}

.footer span{
    font-size: 18px;
    color: #ec1da0;
}


@media only screen and (max-width: 768px) {
    .main-container{
        height: 500px;
    }

    .lead{
        padding: 0 5px;
        font-size: 16px;
    }
}